@CHARSET "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #36364C;
}	

#site {
	position: relative;
	background-color: #FFF;
	width: 900px;
	margin: 30px auto;
	padding: 20px;
}
#menu {
	border: 1px solid #00000;
	width: 20%;
	position: absolute;
}

#menu ul {
	list-style: none;
}
#menu li {
	margin-left: 8px;
}
a:link,a:visited	{
	text-decoration: none;
	color: #942039;
}
a:hover {
	color: #000;
}

#content {
	border: 1px solid #00000;
	margin-left: 20%;
	width: 80%;
	min-height: 400px;
}

#header {
	margin-bottom: 25px;
}

#logo {
	float: left;
}
#title {
	margin-left: 200px;
	font-size: 28px;
}

DIV.admin_table
{
  display: table;
  padding-left: 30px
}

DIV.admin_table_row
{
  display: table-row;
  width: 200px;
  height: 10px
}

DIV.admin_table_cell
{
  display: table-cell;
  text-align: left;
  width: 50px
}

div.error {
	padding: 4px;
	margin-bottom: 4px;
	background-color: #cf5448;
	border: 1px solid #961a0e;
}
div.success {
	padding: 4px;
	margin-bottom: 4px;
	background-color: #009900;
	border: 1px solid #508c0a;
}

fieldset legend {
        font-size: 1.2em;
        font-weight: bold;
        color: black;
}

div.csr {
	margin-bottom: 5%;
}
