BODY
{ 
  background-color: #FFFFFF;
}

TABLE.header 
{ 
  border-collapse: separate;
  border-spacing: 10px;
  caption-side: bottom;
  empty-cells: show;
  table-layout: fixed;
}

TABLE.main
{ 
  border-collapse: separate;
  border-spacing: 10px;
  caption-side: bottom;
  empty-cells: show;
  table-layout: fixed;
  width: 95%;
  height: 100%;

  border-left-style: solid;
  border-left-width: thin;
  border-left-color: black;

  border-top-style: solid;
  border-top-width: thin;
  border-top-color: black;

  border-right-style: solid;
  border-right-width: medium;
  border-right-color: black;
  
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: black;
}

TABLE.small
{
  border-collapse: separate;
  border-spacing: 10px;
  caption-side: bottom;
  empty-cells: show;
  table-layout: fixed;

  border-left-style: solid;
  border-left-width: thin;
  border-left-color: black;

  border-top-style: solid;
  border-top-width: thin;
  border-top-color: black;

  border-right-style: solid;
  border-right-width: thin;
  border-right-color: black;
  
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: black;

}
TR.main
{
  
}
TH.main
{ 
  
}
TD.main
{ 
  vertical-align: top
}

A:LINK 
{ 
  color: GRAY; 
  text-decoration: none; 
  font-weight: bold; 
  }
A:VISITED
{ 
  color: GRAY; 
  text-decoration: none; 
  font-weight: bold; 
  }
A:HOVER
{ 
  color: silver; 
  text-decoration: underline; 
  font-weight: bold; 
  }

A IMG { border:none; }


H3.info 
{
    color:2F4F4F;
    text-decoration:none;
    font-weight: bold;
    font-size: 20pt
}