@charset "UTF-8";
/*
 * Thanks to Mathew James Taylor for his suggestions which helped me make this
 * work with IE:
 * http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm
 */

* {
	margin: 0px;
	padding: 0px;
}

h4 {
	margin: 0em 0em 1em 0em;
}

h3 {
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 1em 0em;
}

body {
	background-color: #36364C;
}

#site {
	position: relative;
	background-color: #FFF;
	width: 900px;
	margin: 30px auto;
}
#menu {
	width: 21%;
	position: relative;
	clear: both;
	overflow: hidden;
	float: left;
}

#menu ul {
	list-style: none;
	/* dictate all vertical margins/paddings,
	 * to get the same look across browsers */
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 1em 0em;
}
#menu li {
	margin-left: 8px;
	width: 70%;
}

a:link,a:visited	{
	text-decoration: none;
	color: #942039;
}
a:hover {
	color: #000;
          text-decoration: underline;
}

img.url {
            border: none;
}

#content {
	margin-left: 21%;
	width: 79%;
	/* the menu size is in em (padding and font size) thus the min-height should
	 * also be given in em */
	min-height: 32em;
}

#header {
	margin-bottom: 25px;
}

#footer {
	margin-top: 25px;
}

div.logo_area {
	width: 100%;
	overflow: hidden;
}

#logo_in_text {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#logo_header_left {
	float: left;
	min-width: 183px;
	max-width: 183px;
	overflow: hidden;
}

#logo_header_center {
	float: left;
	min-width: 500px;
	max-width: 500px;
	overflow: hidden;

	/* system-name */
	font-size: 28px;
}

#logo_header_right {
	float: right;
	text-align: right;
	min-width: 183px;
	max-width: 183px;
	overflow: hidden;
}

#logo_footer_left {
	float: left;
	min-width: 183px;
	max-width: 183px;
	overflow: hidden;
}

#logo_footer_center {
	float: left;
	min-width: 500px;
	max-width: 500px;
	overflow: hidden;
}

#logo_footer_right {
	float: right;
	text-align: right;
	min-width: 183px;
	max-width: 183px;
	overflow: hidden;
}

#language_bar {
	margin-top: 10px;
	margin-bottom: 14px;
	font-size: 12px;
}

#language_bar a {
	color: #888888;
}

#language_bar a:hover {
	border-bottom: dashed 1px;
}

div.message_container {
	padding: 4px 24px 4px 4px;
	margin: 0px 10% 8px 0px;
	position: relative;
	height: 100%;
	width: 90%;
}

div.message {
	border: 2px solid black;
}

div.message_icon {
	margin-right: 6px;
	margin-bottom: 2px;
	float: left;
	/* seems like, according to standard, floats must have a width */
	width: 16px;
	height: 16px;
}

div.message_body {
	width: 90%;
}

div.error {
	border: 2px solid #cf5448;
}

div.success {
	border: 2px solid #009900;
}

div.warning {
	border: 2px solid #FBB117;
}


h2.unauthz {
             color:		#990033;
             font-size:		140%;
             font-weight:	bold;
             margin-top:	5px;
             margin-bottom:	10px;
}

div.unauthz {
              width:		80%;
              float:		left;
}

div.info {
           width: 80%;
           padding: 10px;
           margin-bottom: 10px;
           background-color: #FFDD33;
           border: 2px solid black;
           font-size: 2em;
}

hr.table {
           width: 80%;
           border-style: none;
           }

fieldset {
    border: 1px solid #000000;
    background-color: #EEEEEE;
    padding: 5px;
    padding-left: 20px;
    width: 90%;
}
legend {
    border: 1px solid #000000;
    background-color: #EEEEEE;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    padding: 2px;
}

fieldset.inpsect_csr {
    border-left: 1px solid GRAY;
    border-right: 2px solid GRAY;
    border-top: 1px solid GRAY;
    border-bottom: 2px solid GRAY;
    background-color: #EEEEEE;
    padding: 10px;
    padding-left: 50px;
    width: 85%;
}
legend.inpsect_csr {
    border: 1px solid #000000;
    background-color: #EEEEEE;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    padding: 2px;
}

fieldset.infoblock {
    border: 1px dashed #888888;
    background-color: #FFFFFF;
    padding: 5px;
    padding-left: 20px;
    width: 90%;
}

fieldset.infoblock legend {
    border: 1px solid #888888;
    background-color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    padding: 2px;
}

fieldset.infoblock ul li {
    font-weight: bold;
    color: #222222;
    margin-left: 40px;
    list-style-type: none;
    padding-bottom: 7px;
}

div.csr {
	clear: right;
	margin-bottom: 5%;
}

p {
    padding-bottom: 1em;
    }

p.info {
    font-style: italic;
    width: 80%;
	padding-bottom: 1em;
}

p.important {
              font-weight: bold;
              padding: 10px 24px 10px 10px;
              margin: 0px 10% 8px 0px;
              width: 80%;
              border: 3px dashed #cf5448
}

ul.info {
    font-style: italic;
    width: 80%;
    margin: 0em 0em 1em 4em;
}
div.spacer
{
  height: 12px;
}

ul.help {
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 8px;
}

/* Very simple table of contents block */
.toc {
    border: 2px solid black;
    padding: 4px;
    margin-bottom: 16px;
    font-size: 95%;
}

.toc h2 {
    font-size: 100%;
    font-weight: bold;
}

ul.toc {
    list-style-type: none;
    width: 60%;
}

ul.toc li {
    padding-left: 8px;/* small indentation for the items */
}
/* end very simple table of contents block */

p.example {
    border: 1px dashed #000000;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Courier;
    background-color: #DDDDEE;
}

table.mapping {
	width: 95%;
	border: 1px black solid;
}

table.mapping tr td {
	padding: 0 0.5em 0.5em 0;
}

table.mapping tr th {
	padding-bottom: 0.5em
}

table.mapping tr td.attval {
	width: 14em;
	min-width: 14em;
	max-width: 14em;
	overflow: hidden;
	/* IE fix */
	word-wrap: break-word;
}

/* powered by http://mierendo.com/software/rounded_css_boxes/ */
.confusa_corners_tl, .confusa_corners_t, .confusa_corners_tr, .confusa_corners_l, .confusa_corners_r, .confusa_corners_bl, .confusa_corners_b, .confusa_corners_br, .confusa_corners {
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
}
.confusa_corners_t {
    /*
        change this div to layout the whole box (width, height, float, margin, ...)
        example lines:
        width: 60%;
        margin: 7px 35px 0px 1px
        to change distance to content/text scroll to class ".confusa_corners" and change the padding
    */
    background-color: #FFFFFF;
    background-image: url("../graphics/confusa_corners_border.png");
    background-repeat: repeat-x;
    background-position: top;
}
.confusa_corners_tl {
    height: 100%;
    background-image: url("../graphics/confusa_corners_topleft.png");
    background-repeat: no-repeat;
    background-position: left top;
}
.confusa_corners_tr {
    height: 100%;
    background-image: url("../graphics/confusa_corners_topright.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.confusa_corners_bl {
    height: 100%;
    background-image: url("../graphics/confusa_corners_bottomleft.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}
.confusa_corners_br {
    height: 100%;
    background-image: url("../graphics/confusa_corners_bottomright.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.confusa_corners {
    height: 100%;
    /* change this if you want to change the distance distance to text/content */
    padding: 16px 17px 16px 17px;
}

.confusa_corners_l {
    height: 100%;
    background-image: url("../graphics/confusa_corners_border.png");
    background-repeat: repeat-y;
    background-position: left;
}
.confusa_corners_r {
    height: 100%;
    background-image: url("../graphics/confusa_corners_border.png");
    background-repeat: repeat-y;
    background-position: right;
}
.confusa_corners_b {
    height: 100%;
    background-image: url("../graphics/confusa_corners_border.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

a.exphead {
    text-decoration: none;
}

a.exphead:hover {
    font-weight: bold;
}

a.exphead span.expchar {
    font-family: monospace;
    font-weight: normal;
    font-size: inherit;
}

.expcont {
    display: block;
}

a img {
	border: 0px;
	border-style: none;
}

span.wtf {
    cursor: help;
    border-bottom: dashed 1px;
}

pre.certificate {
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    width: 95%;
    display: block;
}

div.tabheader {
	position: relative;
	width: 100%;
	height: 3em;
	margin-bottom: 0.5em;
}

div.tabheader ul.tabs {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em;
}

div.tabheader ul.tabs li {
	display: inline;
	list-style: none;
}

/* all tabs */
div.tabheader ul.tabs a,div.tabheader ul.tabs span {
	width: auto;
	display: block;
	float: left;
	padding: 4px 10px 4px 10px;
	margin: 1px 5px 0 0;
	text-align: center;
	font-size: 0.9em;
	text-decoration: none;
	font-weight: bold;
}

/* currently active tab */
div.tabheader ul.tabs span {
	border: 1px solid #666666;
	background: #eeeeee;
}

/* currently inactive tab */
div.tabheader ul.tabs a {
	background: #ffffff;
	border: 1px solid #aaaaaa;
}

/* currently hovered tab */
div.tabheader ul.tabs a:hover {
	margin-top: 0;
	border-color: #666666;
	background: #eeeeee;
	color: #000000;
	padding-bottom: 5px;
}


